@import "bootstrap/scss/bootstrap-reboot.scss";
@import "bootstrap/scss/bootstrap-grid.scss";

@import './styles/theming';

$grid-columns: 8 !default;

$dark-bg: #2c2c2c;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $dark-bg;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
