<mat-toolbar color="primary">BOSS GT-1000 Patch Editor</mat-toolbar>
<bgt-pe-block-container>
  <mat-toolbar color="primary">default</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-amp'">
  <mat-toolbar color="primary">compressor</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-chorus'">
  <mat-toolbar color="primary">chorus</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-comp'">
  <mat-toolbar color="primary">compressor</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-delay'">
  <mat-toolbar color="primary">delay</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-ds'">
  <mat-toolbar color="primary">distortion</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-eq'">
  <mat-toolbar color="primary">eq</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-fx'">
  <mat-toolbar color="primary">fx</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-looper'">
  <mat-toolbar color="primary">looper</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-master'">
  <mat-toolbar color="primary">master</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-noise-gate'">
  <mat-toolbar color="primary">noise gate</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-reverb'">
  <mat-toolbar color="primary">reverb</mat-toolbar>
</bgt-pe-block-container>
<bgt-pe-block-container [theme]="'theme-send-return'">
  <mat-toolbar color="primary">send return</mat-toolbar>
</bgt-pe-block-container>
