@use '~@angular/material' as mat;
$theme-default: (
  primary: mat.define-palette(mat.$blue-grey-palette),
  accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$deep-orange-palette)
);

$theme-amp: (
  primary: mat.define-palette(mat.$yellow-palette),
  accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-chorus: (
  primary: mat.define-palette(mat.$blue-palette),
  accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-comp: (
  primary: mat.define-palette(mat.$deep-purple-palette),
  accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-delay: (
  primary: mat.define-palette(mat.$grey-palette),
  accent: mat.define-palette(mat.$grey-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-ds: (
  primary: mat.define-palette(mat.$orange-palette),
  accent: mat.define-palette(mat.$orange-palette, 800),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-eq: (
  primary: mat.define-palette(mat.$light-green-palette),
  accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-fx: (
  primary: mat.define-palette(mat.$pink-palette),
  accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-looper: (
  primary: mat.define-palette(mat.$red-palette),
  accent: mat.define-palette(mat.$red-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-master: (
  primary: mat.define-palette(mat.$light-green-palette),
  accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-noise-gate: (
  primary: mat.define-palette(mat.$light-green-palette),
  accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-reverb: (
  primary: mat.define-palette(mat.$teal-palette),
  accent: mat.define-palette(mat.$teal-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$theme-send-return: (
  primary: mat.define-palette(mat.$light-green-palette),
  accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
  warn: mat.define-palette(mat.$red-palette),
  button-toggle-theme: true
);

$themes: (
  default: $theme-default,
  amp: $theme-amp,
  chorus: $theme-chorus,
  comp: $theme-comp,
  delay: $theme-delay,
  ds: $theme-ds,
  eq: $theme-eq,
  fx: $theme-fx,
  looper: $theme-looper,
  master: $theme-master,
  noise-gate: $theme-noise-gate,
  reverb: $theme-reverb,
  send-return: $theme-send-return
);
