<div [ngClass]="theme">
  <mat-toolbar color="primary">
    <mat-button-toggle appearance="legacy" color="accent" *ngIf="switchable" (change)="toggleState()">
      <mat-icon aria-label="on off switch button">power_settings_new</mat-icon>
    </mat-button-toggle>
    <span style="margin-left: 0.5em">{{ blockTitle }}</span>
    <span *ngDebug style="margin-left: 0.5em">{{ _state | json }}</span>
  </mat-toolbar>
  <div class="container">
    <div class="row mt-5">
      <ng-container *ngFor="let param of effectBlock.params">
        <bgt-pe-parameter-control class="col" [name]="param.name" [values]="param.values"
          [defaultValueIndex]="param.defaultValueIndex">
        </bgt-pe-parameter-control>
      </ng-container>
    </div>
  </div>
</div>