@import '~@angular/material/theming';

@include mat-core();

// @angular/material colors
/*
red
pink
purple
deep-purple
indigo
blue
light-blue
cyan
teal
green
light-green
lime
yellow
amber
orange
deep-orange
brown
grey
blue-grey
*/

@import './themes/theme.default.scss';
@import './themes/theme.amp.scss';
@import './themes/theme.chorus.scss';
@import './themes/theme.comp.scss';
@import './themes/theme.delay.scss';
@import './themes/theme.ds.scss';
@import './themes/theme.eq.scss';
@import './themes/theme.fx.scss';
@import './themes/theme.looper.scss';
@import './themes/theme.master.scss';
@import './themes/theme.noise-gate.scss';
@import './themes/theme.reverb.scss';
@import './themes/theme.send-return.scss';

$dark-bg: #2c2c2c;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: $dark-bg;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
